<div class="col-lg-2">
<div id="menu" style="margin-top:50px;background: #F9F9F9;border-color: #FFF;" class="panel panel-success">
   <div class="panel-heading" style="border-color: #dff0d8;">
      <h3 class="panel-title">账户设置</h3>
   </div>
   <div class="panel-body">
   		<div class="menu-list">
			<a class="ajax_get" href="{:U('get_base')}" ajaxPost="true">基本资料</a>
			<a class="ajax_get" href="{:U('get_detail')}" ajaxPost="true">详细资料</a>
			<!-- <a class="ajax_get" href="{:U('get_self')}" ajaxPost="true">自我介绍</a> -->
			<a class="ajax_get" href="{:U('get_avatar')}" ajaxPost="true">头像设置</a>
			<a class="ajax_get" href="{:U('mod_passwd')}" ajaxPost="true">修改密码</a>
			<a class="ajax_get" href="{:U('feedback')}" ajaxPost="true">建议反馈</a>
			<a class="ajax_get" href="{:U('msg')}" ajaxPost="true">系统消息</a>
			<!-- <a class="ajax_get" href="{:U('get_school')}" ajaxPost="true">教育背景</a>
			<a class="ajax_get" href="{:U('get_work')}" ajaxPost="true">工作经历</a> -->
			<a class="ajax_get" href="" ajaxPost="true"></a>
		</div>
   </div>
</div>
</div>