<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/My/style.css">
	<script type="text/javascript" src="__PUBLIC__/headjs/head.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/myapp/js/common.js"></script>
	<!-- <link rel="stylesheet" href="__PUBLIC__/bootstrap-4.0.0-alpha/dist/css/bootstrap.min.css"> -->
	 <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</head>