<nav class="navbar navbar-default" style="border-color:#FFF;" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">爱游思</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class=""><a href="http://wp.iyouths.org" target="_blank">博客</a></li>
      </ul>
   </div>
   <div>
      <p class="navbar-text navbar-right" style="margin-right: 0;"> 
         <a href="{:U('User/UserLogin/index')}" class="navbar-link">登陆</a>
         <a href="{:U('User/UserRegister/index')}" class="navbar-link">注册</a>
      </p>
   </div>
</nav>