	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/normalize.css">
	<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/My/style.css">
	<script type="text/javascript" src="__PUBLIC__/headjs/head.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/myapp/js/common.js"></script>
	</head>
<body>