<style type="text/css">.fancybox-margin{margin-right:0px;}</style></head>

<body class="skin-blue ng-scope" ng-app="adminApp">

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="http://www.55com.org/admin/manage" class="logo"><b>Dora</b>CMS</a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="http://www.55com.org/admin/manage#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="http://www.55com.org/admin/manage#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            
                        </a>
                        <ul class="dropdown-menu">
                            
                            <li class="header">亲爱哒，暂无未读消息</li>
                            
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    
                                    
                                </ul>
                            </li>
                            <li class="footer"><a href="http://www.55com.org/admin/manage/noticeManage/m/systemNotice">View all</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->

                        <a href="http://www.55com.org/admin/manage#" class="dropdown-toggle" data-toggle="dropdown">
                            <img alt="User Image" class="user-image" src="./55com_files/defaultlogo.png">
                            <span class="hidden-xs" id="adminUserName">forevervas</span>
                            <input type="hidden" id="adminId" value="NyXqf0P3e">
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="./55com_files/defaultlogo.png" class="img-circle" alt="User Image">
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="http://www.55com.org/admin/logout" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </header>